<div class="pt-3 d-flex justify-content-between align-items-baseline">
  <h2>{{ 'DASHBOARD.HEADING1' | translate }}</h2>
  <p>{{time}}</p>
</div>

<div class="row py-4">
  <div class="col-md-4">
    <mat-card>
      <h6>{{ 'DASHBOARD.NEW_CUSTOMERS' | translate }}</h6>
      <app-line-chart
        [chartdata]="newCustomersData.data"
        [chartlabels]="newCustomersData.labels"
        [chartoptions]="newCustomersData.options"
        [height]="'230'"
      ></app-line-chart>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <h6>{{ 'DASHBOARD.SKILLS_RATE' | translate }}</h6>
      <app-radar-chart
        [chartdata]="skillsRateData.data"
        [chartlabels]="skillsRateData.labels"
        [chartoptions]="skillsRateData.options"
        [height]="'230'"
      ></app-radar-chart>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <h6>{{ 'DASHBOARD.NEW_ORDERS' | translate }}</h6>
      <app-bar-chart
        [chartdata]="newOrdersData.data"
        [chartlabels]="newOrdersData.labels"
        [chartoptions]="newOrdersData.options"
        [height]="'230'"
      ></app-bar-chart>
    </mat-card>
  </div>
</div>

<div class="row py-4">
  <div class="col-md-7">
    <mat-card>
      <h6>{{ 'DASHBOARD.REVENUE' | translate }}</h6>
      <app-bar-chart
        [chartdata]="newOrdersData.data"
        [chartlabels]="newOrdersData.labels"
        [chartoptions]="newOrdersData.options"
        [height]="'300'"
      ></app-bar-chart>
    </mat-card>
  </div>
  <div class="col-md-5">
    <mat-card>
      <h6>{{ 'DASHBOARD.GALLERY' | translate }} (ngx-swipper)</h6>
      <app-gallery></app-gallery>
    </mat-card>
  </div>
</div>


<h2 class="py-4">{{ 'DASHBOARD.HEADING2' | translate }}</h2>

        <ngx-datatable
        class="material fullwidth"
        [rows]="rows"
        [columns]="columns"
        [columnMode]="'force'"
        [loadingIndicator]="loadingIndicator"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [reorderable]="reorderable"
        [scrollbarH]="true"
      >
      </ngx-datatable>
