<h2 class="py-4">{{ 'HOME.HEADING1' | translate }}</h2>
<div class="gesture">
  <div class="gesture__zone">
    <div class="gesture__square" 
    [style.left]="square.x+'px'" 
    [style.top]="square.y+'px'" 
    [style.transform]="'rotateX('+square.rotateX+'deg)'"
    (panstart)="onPanStart($event,'square')" 
    (panmove)="onPan($event,'square')" 
    (panend)="onPanEnd('square')"
    (tap)="onTap('square')"
    >
      <p>{{square.title}}</p>
    </div>
    <div class="gesture__circle"
    [style.right]="-circle.x+'px'" 
    [style.top]="circle.y+'px'" 
    [style.transform]="'scale('+circle.scale+')'"
    (panstart)="onPanStart($event,'circle')" 
    (panmove)="onPan($event,'circle')" 
    (panend)="onPanEnd('circle')"
    (doubletap)="onDoubletap('circle')"
    >
      <p>{{circle.title}}</p>
    </div>
  </div>
</div>

<h2 class="py-4">{{ 'HOME.HEADING2' | translate }}</h2>
<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1" [title]="'HOME.ACCORDION.1.TITLE' | translate">
    <ng-template ngbPanelContent>
      {{ 'HOME.ACCORDION.1.CONTENT' | translate }}
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2">
    <ng-template ngbPanelTitle>
      <span>&#9733; {{ 'HOME.ACCORDION.2.TITLE' | translate }} &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      {{ 'HOME.ACCORDION.2.CONTENT' | translate }}
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-3" [title]="'HOME.ACCORDION.3.TITLE' | translate" [disabled]="true">
    <ng-template ngbPanelContent>
      {{ 'HOME.ACCORDION.3.CONTENT' | translate }}
    </ng-template>
  </ngb-panel>
</ngb-accordion>


  
  
